.astro-jbfsktt5 img {
	width: 600px;
	/* margin-left: auto; centers horizontally */
	/* margin-right: auto; */
	/* object-fit: cover; keeps aspect ratio */
}

.hero.astro-jbfsktt5 {
	/* width: auto; */
}